.header
    max-width: 1000px
    margin: 0 auto
    border: 1px solid black
    margin-bottom: 50px
    .container
        max-width: 800px
        border: 1px solid black
        margin: 0 auto
    &_content
        max-width: 600px
        min-height: 0
        border: 1px solid black
        margin: 0 auto
        text-align: center
        h1
            color: green

.main
    max-width: 1500px
    margin: 0 auto
    border: 1px solid black
    .container
        max-width: 1000px
        border: 1px solid black
        margin: 0 auto
    &_content
        max-width: 850px
        min-height: 500px
        border: 1px solid black
        margin: 0 auto
        span
            color: green